<div ng-controller="ProductController as crtl" layout="column" layout-align="center none" ng-cloak flex=70>

  <section>
    <md-content class="flexbox-parent">
      <form name="productForm">
        <div layout="row" layout-align="center center">
          <md-input-container class="md-block" flex="50">
            <label>Name</label>
            <input md-maxlength="30" required name="name" ng-model="crtl.product.name" />

            <div class="hint" ng-if="showHints">Tell us what we should call you!</div>

            <div ng-messages="productForm.name.$error" ng-if="!showHints">
              <div ng-message="required">Name is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" layout-align="center center">
          <md-input-container class="md-block" flex="50">
            <label>Description</label>
            <input md-maxlength="100" required name="description" ng-model="crtl.product.description" />

            <div class="hint" ng-if="showHints">Tell us what we should call you!</div>

            <div ng-messages="productForm.description.$error" ng-if="!showHints">
              <div ng-message="required">Name is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 100 characters long.</div>
            </div>
          </md-input-container>
        </div>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" ng-click="crtl.save()">Save</md-button>
          <md-button class="md-raised md-warn" ng-click="crtl.clear()">Cancel</md-button>
        </section>
      </form>
    </md-content>
  </section>

  </br>
  <md-divider></md-divider>
  <section class="flexbox-parent">
    <md-content>
      <label>Products</label>
      <md-list ng-controller="ProductController" ng-cloak>
        <div layout="row" flex="70">
          <div layout="column" flex="70">
            <md-subheader class="md-no-sticky">Name</md-subheader>
          </div>
          <div layout="column">
            <md-subheader class="md-no-sticky">Description</md-subheader>
          </div>
        </div>
        <md-list-item ng-repeat="product in crtl.list">
          <p> {{ product.name }} </p>
          <p> {{ product.description }} </p>
        </md-list-item>

        <md-divider></md-divider>
      </md-list>
    </md-content>
  </section>

</div>
